body {
  margin: 0;
}

header {
  height: 72px;
  background-color: #111;
}

header .head,
header nav,
header ul {
  height: 100%;
}

header ul {
  display: inline-flex;
  padding-left: 0;
}

header ul li{
  padding: 5px 20px;
  list-style: none;
}

header ul li a {
  color: #fff;
  text-decoration: none;
}
